ADS_ENV=sandbox
ADS_DRY_RUN=true
ADS_MAX_BUDGET_INCREASE_PCT=20
ADS_VAULT_MODEL_GATEWAY_URL=http://host.docker.internal:13000/api/adsControlCenter:modelCompletion
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
META_GRAPH_VERSION=v26.0
TIKTOK_ACCESS_TOKEN=
TIKTOK_ADVERTISER_ID=
